{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story Tsanaa</title>
{% endblock meta %}

{% block content %}

<div class="container search">
    <br>
    <h3 class = "mt-5" style="text-align: center; margin-top: 100px;">Daftar Buku</h1>
    <div class="container justify-content-center text-center p-5" style="max-width: 500px;">
        <input class="form-control" id="keyword" type="text" placeholder="Masukkan judul buku!" aria-label="Search">
    </div>
</div>      

<div class="container">
    <table class="table table-bordered table-striped table-info">
        <thead>
            <tr>
                <th scope="col">Buku</th>
                <th scope="col">Judul</th>
                <th scope="col">Penulis</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
{% endblock content %}