@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  background-color: white;
  color: black
}

.navbar{
  background-color: #5bc0de;
  color: black;
  margin-bottom: 70px;
}

.navbar-brand{
  color: black;
}

.jumbotron{
  margin-top: 20vh;
  background-color: white;
  text-align: center;
}

.container.accor{
  margin-top: 30vh;
}

#accordionActivity h3{
  background: #5bc0de;
}

#accordionPanit h3{
  background: #5bc0de;
}

#accordionPrestasi h3{
  background: #5bc0de;
}

#accordionHobi h3{
  background: #5bc0de;
}
button{
  background-color: transparent;
  border: none;
  outline: none;
}
