{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story Tsanaa</title>

{% endblock meta %}
   
{% block content %} 

<div class="container accor">
    <div id="accordionActivity">
        <h3>Aktivitas 
            <span style="float: right;">
              <button style='font-size:15px' class="button-up"><i class='fas fa-angle-up'></i></button>
              <button style='font-size:15px' class="button-down"><i class='fas fa-angle-down'></i></button>
            </span>
        </h3>
        <div>
          <ul>
            <li>Kuliah</li>
            <li>Nonton drakor</li>
            <li>Nugas</li>
          </ul>
        </div>
    </div>
    
    <div id="accordionPanit">
      <h3>Pengalaman Organisasi/Kepanitiaan
        <span style="float: right;">
          <button style='font-size:15px' class="button-up"><i class='fas fa-angle-up'></i></button>
          <button style='font-size:15px' class="button-down"><i class='fas fa-angle-down'></i></button>
        </span>
      </h3>
      <div>
        <ul>
          <li>Humas dan Publikasi Wisgan 2020</li>
          <li>Digital Marketing Compfest 2020</li>
          <li>Relasi Wisgen 2020</li>
          <li>Dankom OH Fasilkom 2020</li>
        </ul>
      </div>
    </div>

    <div id="accordionPrestasi">
      <h3>Prestasi 
        <span style="float: right;">
          <button style='font-size:15px' class="button-up"><i class='fas fa-angle-up'></i></button>
          <button style='font-size:15px' class="button-down"><i class='fas fa-angle-down'></i></button>
        </span>
      </h3>
      <div>
        <ul>
          <li>Mendapatkan nilai 100 di Ujian Nasional Bahasa Inggris</li>
          <li>Menang lomba tari waktu SD</li>
        </ul>
      </div>
    </div>

    <div id="accordionHobi">
      <h3>Hobi 
        <span style="float: right;">
          <button style='font-size:15px' class="button-up"><i class='fas fa-angle-up'></i></button>
          <button style='font-size:15px' class="button-down"><i class='fas fa-angle-down'></i></button>
        </span>
      </h3>
      <div>
        <ul>
          <li>Nonton film, drakor, dan series</li>
          <li>Dengerin lagu</li>
          <li>Makan</li>
        </ul>
      </div>
    </div>
</div>
{% endblock content %} 

