{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS Script -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="{% static 'jquery-3.5.1.js' %}"></script>
    <script src="{% static 'story7.js' %}"></script>
    <script src="{% static 'story8.js' %}"></script>

    {% block meta %}
    {% endblock meta %}
    <title>Storynya Tsanaa</title>
</head>
  
  <!--Bootstrap Navbar-->
  <body>
    <header class="header fixed-top">
      <nav class="navbar navbar-expand-lg sticky-top navbar-light">
        <div class="container">
          <a class="navbar-brand " href="{% url 'main:home' %}"><strong>TSANAA</strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
                <a class="nav-link">{{user.username}}</a>
                <a class="nav-link" href="{% url 'story9:logout' %}">Logout</a>
              {% else %}
                <a class="nav-link" href="{% url 'story9:login' %}">Login</a>
                <a class="nav-link" href="{% url 'story9:register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
  
    
  
    {% block content %}
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% endblock content %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </body>
  </html>
