{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story Tsanaa</title>
{% endblock meta %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    {% if user.is_authenticated %}
    <h1 class="display-4">Hello, {{user.username}}!</h1>
    {% else %}
    <h1 class="display-4">Hello!</h1>
    {% endif %}
    <p class="lead">This is my website.</p>
    <hr class="my-4">
    <p>Wanna see my stories?</p>
    <a class="btn btn-primary btn-info" href="{% url 'story7:story7' %}" role="button">Story7</a>
    <a class="btn btn-primary btn-info" href="{% url 'story8:story8' %}" role="button">Story8</a>
  </div>
</div>
{% endblock content %}

