{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story Tsanaa</title>
{% endblock meta %}

{% block content %}
<br><br>
<div class="container">
    <div class="row m-5 justify-content-center">
        <div class="col-md-8 col-sm-8">
            <form method="POST">

                {% csrf_token %}
                {{ form.as_p }}
            
                <button type="submit" class="btn btn-primary">Login</button>
            
            </form>
        </div>
    </div>
    <div class="row m-5 justify-content-center">
        <div class="col-md-8 col-sm-8">
            <h5 style="color: black;">Don't have an account? <a href="{% url 'story9:register'%}">Register</a></h5>
        </div>        
    </div>
</div>
{% endblock content %}