{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story Tsanaa</title>
{% endblock meta %}

{% block content %}
<div class="row m-5 justify-content-center">
  <div class="col text-center">
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <h5 style="color: black;" {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </h5>
          {% endfor %}
      </ul>
      {% endif %}     
  </div>
</div>

<div class="row m-5 justify-content-center">
  <div class="col-md-8 col-sm-8">
      <form method="POST">

          {% csrf_token %}
      
          {{ form.as_p }}
      
          <button type="submit" class="btn btn-primary">Register</button>
      
      </form>
  </div>        
</div>
<div class="row m-5 justify-content-center">
  <div class="col-md-8 col-sm-8">
      <h5 style="color: black;">Already have an account? <a href="{% url 'story9:login'%}">Login</a></h5>
  </div>   
</div>
{% endblock content %}